/* 
* Contains styles for beta enhancements to the cache details page
*/

#mapPrintingNotes{
width: 280px;
text-align: left;
overflow: auto;
}
.inplace_field{
width:100%;
resize: none;
}
.InformationWidget h3{
margin-bottom:.5em;
}
.InformationWidget .AlignRight{
font-size:.8em;
}
.pcn-tooltip .ui-tooltip-content{
background-color:#303030;
color:#fff;
line-height:1.4em;
width:180px;
}
.maxed{
color:#992a2a;
}
.maxed .num{
font-weight:bold;
}
.edit-cache-coordinates{
text-decoration:none;
font-weight:bold;
color:#000 !important;
background:url(/images/icons/16/edit.png) no-repeat 100% 0;
padding-right:20px;
display:inline-block;
}
.ccc-coord{
cursor: text;
}
.ccu-update dl{
margin-bottom:.25em;
}
.ccu-update dt{
float:left;
min-width:90px;
}
.ccu-update .ui-button-text-only .ui-button-text{
padding:.3em .75em;
}
.ccu-parseverify-coords{
font-style:italic;
margin-right:.25em;
}
.ui-tooltip-widget .ui-tooltip-content{
border:1px solid #c0cee3;
background-color:#fff;
color:#594a42;
padding:1em;
width:420px;
}
.myLatLon{
font-style:italic;
border-bottom:2px solid #999;
}
.leaflet-control-attribution{
padding:3px !important;
}
.BookmarkList li{
padding:.75em;
font-style:italic;
font-size:.77em;
}
.BookmarkList li a:first-child{
font-style:normal;
font-size:1.3em;
}

/* Unpublished cache panel */
.cspWidget{
margin:1.5em 0;
padding:8px 12px;
color:#594a42;
background-color:#f0f0f0;
border:1px solid #594a42;
border-radius:4px;
}
.cspWidget p{
margin-bottom:0;
}
.cspWidget.cspWarningWidget{
background-color:#fef5eb;
border-color:#fdd9b0;
}
.cspButton::-moz-focus-inner{
padding:0;
border:0;
}
#Content .cspButton,#Content a.cspButton:link,#Content a.cspButton:visited{
margin:0;
padding:4px 10px;
display:inline-block;
font-size:14px;
line-height:18px;
color:#9b8579;
text-align:center;
text-decoration:none;
border:1px solid #e3ddc2;
border-bottom-color:#d8cd9d;
background-color:#fff;
border-radius:4px;
box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(155,133,121,0.25);
cursor:pointer;
}
#Content .cspButton:hover,#Content a.cspButton:hover{
color:#fff;
text-decoration:none;
background-color:#eb9636;
border:1px solid #eb9636;
border-bottom-color:#e09034;
background-position:0 -15px;
-webkit-transition:background-position 0.1s linear;
-moz-transition:background-position 0.1s linear;
-o-transition:background-position 0.1s linear;
transition:background-position 0.1s linear;
}
#Content .cspButton:focus{
outline:thin dotted;
outline:5px auto -webkit-focus-ring-color;
outline-offset:-2px;
}
#Content .cspButton:active{
background-image:none;
box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(155,133,121,0.25);
background-color:#eb9636;
outline:0;
}
#Content .cspButton[disabled], #Content .cspButton[disabled]:hover, #Content .cspButton[disabled]:active{
background-color:#fffcf9 !important;
border:1px solid #f2ecdc !important;
border-bottom-color:#ece4cb !important;
color:#ddd !important;
cursor:default;
box-shadow:inset 0 0 0 rgba(0,0,0,0.15),0 1px 2px rgba(155,133,121,0.25);
}
#Content .cspButton.cspPrimaryButton,#Content a.cspButton.cspPrimaryButton{
background-color:#f9a13a;
border:1px solid #f9a13a;
border-bottom-color:#e09034;
color:#fff;
}
#Content .cspButton.cspPrimaryButton:hover,#Content .cspButton.cspPrimaryButton:active,#Content a.cspButton.cspPrimaryButton:hover,#Content a.cspButton.cspPrimaryButton:active{
background-color:#eb9636;
border:1px solid #eb9636;
border-bottom-color:#e09034;
color:#fff;
}
#Content .cspButton.cspPrimaryButton[disabled],#Content .cspButton.cspPrimaryButton[disabled]:hover, #Content .cspButton.cspPrimaryButton[disabled]:active{
background-color:#f5c78d !important;
border:1px solid #f5c78d !important;
border-bottom-color:#e8bf8a !important;
color:#fff !important;
cursor:default;
}

.FoundStatus{
margin-bottom:14px;
min-height:48px;
}
.FoundStatus img{
float:left;
width:48px;
height:48px;
margin-right:10px;
}
.FoundStatus p{
margin:0;
line-height:normal;
}
.FoundStatus strong{
display:block;
font-size:1.3em;
padding:5px 0;
}
.FoundStatus small{
position:relative;
top:-.5em;
}
.FoundStatus a{
color:inherit !important;
text-decoration:none;
}
.FoundStatus a:hover{
text-decoration:underline;
}
.FoundStatus.WillAttend{
min-height:auto;
}
.FoundStatus.WillAttend strong{
padding:0;
}
.FoundStatus.WillAttend small{
position:static;
}
.CacheStarLabels dl{
display:table-row;
}
.CacheStarLabels dt,.CacheStarLabels dd{
display:table-cell;
}
.CacheStarLabels dt{
font-weight:normal;
}
.CacheStarLabels dd{
padding:0 0 0 1em;
}

.CacheDetailNavigation ul,.favorite-dropdown ul,.CachePageImages{
margin:0;
padding:0;
list-style:none;
}
.CacheDetailNavigation ul{
margin-top:14px;
padding:1em;
background-color:#fbfaf3;
border-radius:3px;
}
.CacheDetailNavigation li{
margin-bottom:.5em;
}
.CacheDetailNavigation li a{
padding-left:24px;
display:inline-block;
background-repeat:no-repeat;
background-position:0 50%;
}
.CacheDetailNavigation a[href*="gallery.aspx"]{
background-image:url(/images/icons/16/photo_gallery.png);
}
.CacheDetailNavigation a[href*="watchlist.aspx"]{
background-image:url(/images/icons/16/watch.png);
}
.CacheDetailNavigation a[href$="action=rem"]{
background-image:url(/images/icons/16/stop_watching.png);
}
.CacheDetailNavigation a[href*="mark.aspx"]{
background-image:url(/images/icons/16/bookmark_list.png);
}
.CacheDetailNavigation a[href*="ignore.aspx"]{
background-image:url(/images/icons/16/ignore.png);
}
.CacheDetailNavigation a[href*="review.aspx"]{
background-image:url(/images/icons/16/view_review_page.png);
}
.CacheDetailNavigation a[href*="archived.aspx"]{
background-image:url(/images/icons/16/archived_log.png);
}
.CacheDetailNavigation a[href*="report.aspx"]{
background-image:url(/images/icons/16/edit.png);
}
.CacheDetailNavigation a[href*="attributes.aspx"]{
background-image:url(/images/icons/16/edit_attributes.png);
}
.CacheDetailNavigation a[href*="wptlist.aspx"]{
background-image:url(/images/icons/16/waypoints.png);
}
.CacheDetailNavigation a[href*="upload.aspx"]{
background-image:url(/images/icons/16/photo.png);
}
.CacheDetailNavigation ul a[href$="LogType=2"]{
background-image:url(/images/logtypes/2.png);
}
.CacheDetailNavigation a[href$="LogType=3"]{
background-image:url(/images/logtypes/3.png);
}
.CacheDetailNavigation a[href$="LogType=4"]{
background-image:url(/images/logtypes/4.png);
}
.CacheDetailNavigation a[href$="LogType=5"]{
background-image:url(/images/logtypes/5.png);
}
.CacheDetailNavigation a[href$="LogType=7"]{
background-image:url(/images/logtypes/7.png);
}
.CacheDetailNavigation ul a[href$="LogType=9"]{
background-image:url(/images/logtypes/9.png);
}
.CacheDetailNavigation ul a[href$="LogType=10"]{
background-image:url(/images/logtypes/10.png);
}
.CacheDetailNavigation ul a[href$="LogType=11"]{
background-image:url(/images/logtypes/11.png);
}
.CacheDetailNavigation a[href$="LogType=12"]{
background-image:url(/images/logtypes/12.png);
}
.CacheDetailNavigation a[href$="LogType=22"]{
background-image:url(/images/logtypes/22.png);
}
.CacheDetailNavigation a[href$="LogType=23"]{
background-image:url(/images/logtypes/23.png);
}
.CacheDetailNavigation a[href$="LogType=45"]{
background-image:url(/images/logtypes/45.png);
}

.CacheDetailNavigation{
background-color:#e3ddc2;
padding:14px;
border-radius:3px;
}
.CacheDetailNavigation .Button{
display:block;
text-align:left;
padding:.4em 1em;
border:1px solid #667343;
border-radius:3px;
background-color:#677547;
background-image: -moz-linear-gradient(top, #778556, #4e5d30);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#778556), to(#4e5d30));
background-image: -webkit-linear-gradient(top, #778556, #4e5d30);
background-image: -o-linear-gradient(top, #778556, #4e5d30);
background-image: linear-gradient(to bottom, #778556, #4e5d30);
background-repeat:repeat-x;
color:#fff !important;
font-weight:bold;
text-decoration:none;
cursor:pointer;
}
.CacheDetailNavigation .Button:hover{
background-color: #fcaf3d;
background: -moz-linear-gradient(top,  rgba(252,175,61,1) 0%, rgba(250,142,30,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,175,61,1)), color-stop(100%,rgba(250,142,30,1)));
background: -webkit-linear-gradient(top,  rgba(252,175,61,1) 0%,rgba(250,142,30,1) 100%);
background: -o-linear-gradient(top,  rgba(252,175,61,1) 0%,rgba(250,142,30,1) 100%);
background: -ms-linear-gradient(top,  rgba(252,175,61,1) 0%,rgba(250,142,30,1) 100%);
background: linear-gradient(to bottom,  rgba(252,175,61,1) 0%,rgba(250,142,30,1) 100%);
background-position:0 100%;
border-color:#fd9201;
}
.Button.LogVisit:before{
content:url(/images/icons/16/write_log_white.png);
vertical-align:middle;
margin-right:8px;
}

ul.userFavs{
margin-bottom:1.5em;
}

.CacheInformationTable{
background-color:#f9f7f5;
border:none;
border-radius:3px;
margin:1.5rem 0;
}
.CacheInformationTable div{
padding:0;
}
.CacheInformationTable > div{
padding:1em;
}
.CacheInformationTable .LocationData{
background-color:#f0edeb;
border-bottom:1px dashed #d7d7d7;
border-radius:3px 3px 0 0;
}
.CacheInformationTable .DownloadLinks a,.LocationData a[href^="/wpt"],.CacheInformationTable input{
font-size:.9em;
margin-right:1em;
}
.CacheInformationTable dt{
float:left;
margin-right:1em;
}
.CacheInformationTable dd{
margin-left:0;
}
.CacheInformationTable dl:last-child dd:last-child{
padding-bottom:0;
}
.DownloadLinks .label,a.DrivingDirections{
display:inline-block;
padding-left:24px;
}
#Print .label{
background:url(/images/icons/16/print.png) no-repeat 0 0;
}
a.DrivingDirections{
background:url(/images/icons/16/directions.png) no-repeat 0 0;
}
#Download .label{
background:url(/images/icons/16/download.png) no-repeat 0 0;
}
.Note{
padding:1em;
border-radius:3px;
background:#f0edeb;
margin-bottom:1.5rem;
}
.Note strong{
display:inline-block;
padding-left:22px;
}
.Disclaimer{
background:#fff9bb;
font-size:.9em;
}
.Disclaimer a{
color:inherit !important;
}
.Disclaimer strong{
background:url(/images/icons/16/take_note.png) no-repeat 0 0;
}
.PersonalCacheNote strong{
background:url(/images/icons/16/user_note.png) no-repeat 0 0;
}
.CacheNoteHelpImg{
cursor:pointer;
float:right;
}
.CacheDescriptionHeader{
margin:2em 0 1em;
}
.CachePageImages li{
background:url(/images/icons/16/photo.png) no-repeat 0 0;
padding-left:22px;
}
.CachePageImages .description{
display:block;
margin-bottom:.75em;
}

/* Scroll to top link */
.TopScroll{
position:fixed;
right:50%;
bottom:2.5em;
margin-right:-600px;
}
.TopScroll a{
display:block;
height:52px;
width:52px;
background:url(/images/to-the-top.png) no-repeat 0 -52px;
text-decoration:none;
}
.TopScroll a:hover{
background-position:0 0;
}
@media only screen and (max-width:1279px){
    .TopScroll{
    right:1.5em;
    margin-right:0;
    }
}
@media only screen and (max-width:1090px){
    .TopScroll{
    display:none;
    }
}